<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lv.viewpagerdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".tab.TabVpAct"/>
        <activity android:name=".tab.TabVpButtomAct"/>
        <activity android:name=".flyco.SimpleHomeActivity"/>
        <activity android:name=".flyco.CommonTabActivity"/>
        <activity android:name=".flyco.SegmentTabActivity"/>
        <activity android:name=".flyco.SlidingTabActivity"/>
        <activity android:name=".kongjian.KongjianAct"/>
        <activity android:name=".duolingo.DuolingoAct"/>
        <activity android:name=".viewpagergallery.ViewPagerGallery"/>
    </application>

</manifest>